In [2]:
import pandas as pd
import os

## Description

- 943,347 matched tracks MSD <-> Last.fm
- 505,216 tracks with at least one tag
- 584,897 tracks with at least one similar track
- 522,366 unique tags
- 8,598,630 (track - tag) pairs
- 56,506,688 (track - similar track) pairs

**Columns**

- **artist**
- **similars**: a list of similar tracks
- **tags**: a list of pairs that include tags of the track and their frequencies
- **timestamp**
- **title**
- **track_id**

## Data

### Train Data

In [2]:
# find all data paths and store them in a list
listOfFiles = list()
for (dirpath, dirnames, filenames) in os.walk("."):
    listOfFiles += [os.path.join(dirpath, file) for file in filenames]
listOfFiles = [a for a in listOfFiles if '.json' in a]

In [3]:
# define a function to read in json files
def read_json(path):
    return pd.read_json(path, orient = 'index').T

In [4]:
# store all dataframs to a list dfs, this takes ~20 min
dfs = []
for path in listOfFiles:
    dfs.append(read_json(path))

In [5]:
# examine the length
len(dfs)

839122

In [6]:
# concat all dataframes in dfs
train_df = pd.concat(dfs)

In [7]:
# save dataframe to a csv file
train_df.to_csv('train2.csv', index = None)

In [8]:
pd.read_csv('train2.csv').head()

,artist,similars,tags,timestamp,title,track_id
0,Computer Truck,[],[],2011-08-08 18:30:39.698667,Gamegirl power,TRRRRIR128F933C8FE
1,Lack of Limits,[],[],2011-08-02 10:04:50.589618,30 Summers,TRRRRUH128F14ABD68
2,The Kinks,"[['TRMLOXQ12903CF06BB', 1], ['TRCOWHF128F93216...","[['classic rock', '100'], ['60s', '76'], ['bri...",2011-08-02 05:18:14.083535,A Well Respected Man,TRRRRCH128F9342C72
3,Everclear,[],[],2011-08-15 10:19:29.458998,Misery Whip (Explicit),TRRRRNT128E0782AF2
4,Paula Abdul,"[['TRALFWK128F1458532', 1], ['TRRMRMZ128F14585...","[['pop', '100'], ['female vocalists', '66'], [...",2011-08-04 11:50:10.764331,Rock House,TRRRRMR128F145852B

### Test Data

In [16]:
# find all data paths and store them in a list
listOfFiles = list()
for (dirpath, dirnames, filenames) in os.walk("."):
    listOfFiles += [os.path.join(dirpath, file) for file in filenames]
listOfFiles = [a for a in listOfFiles if '.json' in a]

In [46]:
# define a function to read in json files
def read_json(path):
    return pd.read_json(path, orient = 'index').T

In [47]:
# store all dataframs to a list dfs, this takes ~20 min
dfs = []
for path in listOfFiles:
    dfs.append(read_json(path))

In [49]:
# examine the length
len(dfs)

104212

In [50]:
# concat all dataframes in dfs
test_df = pd.concat(dfs)

In [53]:
# save dataframe to a csv file
test_df.to_csv('test2.csv', index = None)

In [54]:
pd.read_csv('test2.csv').head()

,artist,similars,tags,timestamp,title,track_id
0,Jimmy Somerville,[],[],2011-08-11 21:15:43.358721,Dark Sky (Tony De Vit Mix),TRRRRYP128F4284522
1,Topazz,"[['TRNJAFY128F92F7E07', 0.0588966], ['TRYDEXT1...","[['house set', '100']]",2011-08-02 21:16:50.250928,New Millennium,TRRRRFU12903CBEF39
2,Arab on Radar,"[['TRJLEPW128F422EC7A', 1], ['TRFSJKJ128F422EC...","[['Love', '100'], ['noise', '100'], ['going cr...",2011-08-04 04:39:24.591196,His Maintenance,TRRRRQS128F422EC78
3,New York Art Quartet,"[['TRERNJG128F4234CBD', 1], ['TROQFAY128F422D3...","[['freejazz', '100']]",2011-08-15 12:26:46.200654,Rosmosis,TRRRRUC128F4234CBE
4,Georgie Fame,"[['TRCRZGY128F92E31D8', 0.8367959999999991], [...","[['singer-songwriter', '100'], ['60s', '100']]",2011-08-11 19:07:32.189500,Vino Tequilla,TRRRREU128F92E31BA